<h1 class="text-center"> Today's Quotes </h1>
<hr>
<br>
<ul>
    <div *ngFor='let quote of quote; let i = index'>
        <li class="container" (click)="toggleDetails(i)">
            {{quote.q}}
            <br>
            <div class="author">
                ~{{quote.author}}
            </div>
        </li>
        <app-quote-detail class="del" *ngIf="quote.showDetails" [quote]="quote" (deleteIt)="quoteDelete($event,i)" > </app-quote-detail>
        
        
    </div>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</ul>
