.details>ul>li {
    position: relative;
    list-style: none;
    display: inline;
    padding: 15%;
    align-items: center;
}
.remove {
    text-align: center;
}
.remove>button{
    position: relative;
    height: 2%;
    width: 4%;
    color: white;
    background-color: black;
    border-radius: 100%;
    z-index: 10;
}
.remove>button:hover{
    background-color: red;
}